@model IEnumerable<TidligereEksamensOpgave.Models.AuctionItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="topnav">
    <a class=" active" href="#home"></a>
    <a href="#about"></a>
    <a href="#contact"></a>
</div>

<div>
    <h2>Index</h2>
</div>

<p asp-action="Create">Create New</p>

<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BidCustomName)</th>
                <th>@Html.DisplayNameFor(model => model.BidCustomPhone)</th>
                <th>@Html.DisplayNameFor(model => model.BidPrice)</th>
                <th>@Html.DisplayNameFor(model => model.BidTimeStamp)</th>
                <th>@Html.DisplayNameFor(model => model.ItemDescription)</th>
                <th>@Html.DisplayNameFor(model => model.ItemNumber)</th>
                <th>@Html.DisplayNameFor(model => model.RatingPrice)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.BidCustomName)</td>
                    <td>@Html.DisplayFor(modelItem => item.BidCustomPhone)</td>
                    <td>@Html.DisplayFor(modelItem => item.BidPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.BidTimeStamp)</td>
                    <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.ItemNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.RatingPrice)</td>
                    <td>@Html.ActionLink("Select", "AuctionBid", new { id = item.ItemNumber })</td>
                </tr>
            }

        </tbody>
        
    </table>
</div>


